[MASTER]
extension-pkg-allow-list=defusedxml

[FORMAT]
max-line-length=120

[MESSAGES CONTROL]
disable=
    missing-module-docstring,
    missing-function-docstring,
    missing-class-docstring,
    too-many-locals,
    too-many-branches,
    too-many-arguments,
    import-outside-toplevel,
    duplicate-code,
    unused-argument,
    unused-import
